/* FONTFACE */

/* h2 */
@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto-Black.ttf");
}

/* police titre 2*/
@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto-Bold.ttf");
}

/* police texte */
@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto-Light.ttf");
}

/* police h3 */
@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto-Medium.ttf");
}

/* police texte li*/
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}

/* police onglet header */
@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/Roboto-Thin.ttf");
}

/* KEYFRAMES */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* GENERAL */

body {
  width: 100%;
  margin: 0;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
}

hr {
  background-color: rgba(128, 128, 128, 0.466);
  width: 10%;
  height: 1px;
  border: none;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 12px;
}

h1 {
  font-family: "Roboto-Bold";
  font-size: 35px;
  margin-bottom: 10px;
}

p {
  font-family: "Roboto-Light";
}

h2 {
  font-family: "Roboto-Bold";
  font-size: 35px;
  margin-bottom: 10px;
}

h3{
  font-family: 'Roboto-Medium';
}

.cercle {
  border: 5px solid white;
  border-radius: 100%;
}

#titre_petite_resolution {
  display: none;
}

/* HEADER */
header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 99;
}

nav {
  margin-top: 25px;
}
nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

.onglet_nav a {
  text-decoration: none;
  font-family: "Roboto-Thin";
  color: black;
  padding-top: 38px;
  padding-left: 10px;
  padding-right: 10px;
}

.onglet_nav a:hover {
  border-top: 3px solid #4eb1d5;
}

#bg_petite-reso {
  color: #4eb1d5;
  height: 150px;
  width: 100%;
  vertical-align: center;
  display: none;
}

/* SECTION 1*/

#accueil {
  width: 100%;
  height: 800px;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

#i1:checked ~ #one,
#i2:checked ~ #two {
  z-index: 1;
  animation: slide 1s ease-in-out;
}

.pre {
  color: white;
  position: absolute;
  top: 270px;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.next {
  color: white;
  position: absolute;
  top: 265px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

/* bloc texte slider */
.bloc_texte_slider {
  background-size: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

.bloc_texte_slider h1 {
  font-size: 45px;
}

#titre2 {
    font-family: "Roboto-Bold";
    font-size: 45px;
    margin-bottom: 10px;
}

.bloc_texte_slider p {
  font-size: 20px;
  font-family: "Roboto-Regular";
  margin-bottom: 40px;
}

.bloc_texte_slider span {
  color: #4eb1d5;
}

.bloc_texte_slider a {
  background-color: #4eb1d5;
  font-size: 20px;
  text-decoration: none;
  padding: 14px;
  color: white;
  border-radius: 3%;
  box-shadow: 0px 2px 2px 1px rgb(56, 140, 170);
  font-family: "Roboto-Bold";
}

#one {
  background-image: url("./img/slider/bg1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#two {
  background-image: url("./img/slider/bg2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.fa-chevron-left {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.431);
  border-radius: 100%;
  left: -25px;
  position: absolute;
  font-size: 20px;
}

.fa-chevron-right {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.431);
  border-radius: 60%;
  right: -25px;
  position: absolute;
  font-size: 20px;
}

#barre_gauche {
  height: 6px;
  float: left;
  width: 50%;
  z-index: 40;
  margin-top: 34%;
  background: #4eb1d5;
}

#barre_droite {
  height: 6px;
  width: 50%;
  float: right;
  margin-top: 34%;
  background: #4eb1d5;
}

/* SECTION 2 SERVICES*/

#services {
  padding-top: 80px;
  padding-bottom: 50px;
}

.forme_trait {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forme_trait i {
  color: #4eb1d5;
}

.bloc_services1 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.bloc_services2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.bloc_services2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.bloc_services2 ul li {
  display: flex;
}

#img_pc {
  width: 60%;
  height: 100%;
  margin-top: 60px;
}

#description_service ul {
  margin-top: 45px;
}

.fa-chart-line {
  color: #4eb1d5;
  border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 100%;
  position: relative;
  padding: 20px;
}

.fa-cubes {
  color: #4eb1d5;
  border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 100%;
  position: relative;
  padding: 20px;
}

.fa-chart-pie {
  color: #4eb1d5;
  border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 100%;
  position: relative;
  padding: 20px;
}

.bloc_icone {
  position: relative;
  margin: auto;
  margin-left: 0;
}

.bloc_texte_services {
  margin-left: 30px;
}

.puce_icone {
  color: #4eb1d5;
  position: absolute;
  right: -10%;
  top: 40%;
}

/* SECTION 3 PROJETS */

#portfolio {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

#filtre_portfolio {
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: "Roboto-Regular";
  padding-left: 0;
}

#filtre_portfolio li {
  background-color: rgba(128, 128, 128, 0.192);
  padding: 15px;
  position: relative;
}

#filtre_portfolio li:nth-child(1) {
  border-radius: 10% 0 0 10%;
}

#filtre_portfolio li:nth-child(4) {
  border-radius: 0 10% 10% 0%;
}

#filtre_portfolio li:hover {
  background-color: #4eb1d5;
  box-shadow: 0px 2px 2px 1px rgb(56, 140, 170);
  justify-content: center;
}

#filtre_portfolio li:hover a {
  color: white;
}

#filtre_portfolio li:hover i {
  color: rgb(56, 140, 170);
}

/* flèche du bas bouton filtre portfolio */
.fa-sort-down {
  position: absolute;
  margin-top: 17px;
  left: 40px;
  color: #f5f5f5;
}

#filtre_portfolio li a {
  color: #000;
  text-decoration: none;
}

/* bloc images en portfolio */

#bloc_images_portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.images_portfolio img {
  display: block;
  width: 350px;
  height: 250px;
  margin: 20px;
  padding: 0;
  cursor: default;
}

.images_portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.images_portfolio:hover .on_img {
  height: 90px;
}

.images_portfolio:hover .bloc_texte_hover {
  height: 90px;
  z-index: 4;
}

/* bloc texte en div hover sur les images en portfolio */

.bloc_texte_hover {
  position: relative;
  height: 0;
  z-index: -1;
  width: 100%;
  margin: 30px;
  margin-bottom: 50px;
}

.bloc_texte_hover h4 {
  font-size: 22px;
  font-family: "Roboto-Bold";
  margin-bottom: 0;
}

.bloc_texte_hover p {
  font-size: 16px;
  font-family: "Roboto-Regular";
  margin-top: 2px;
}

.bloc_texte_hover a {
  position: absolute;
  top: -21px;
  margin-left: 80%;
  margin-bottom: 20px;

}

.bloc_texte_hover:hover {
  position: relative;
  height: 100px;
}

.on_img {
  width: 350px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  transition: 0.7s ease;
  overflow: visible;
  margin-bottom: 20px;
}

.fa-eye {
  color: white;
  background-color: rgb(56, 140, 170);
  border-radius: 100%;
  border: solid 2px white;
  padding: 15px;
}

/* SECTION 4 FOOTER */

#contact iframe {
  width: 100%;
  position: relative;
}

fieldset {
  border: none;
}

fieldset h2 {
  font-family: 'Roboto-Black';
  font-size: 28px;
  margin-bottom: 15px;
}

h5 {
  font-family: "Roboto-Medium";
  font-size: 18px;
}



.texte_form {
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.603);
}

.input_form {
  width: 95%;
  padding-left: 8px;
  font-family: "Roboto-Light";
  padding: 5px;
}

textarea {
  font-family: "Roboto-Light";
  border: 1px solid grey;
}

.form_contact {
  position: absolute;
  width: 400px;
  margin-top: 60px;
  left: 70%;
  background-color: rgba(255, 255, 255, 0.739);
  z-index: 10;
  padding: 10px;
}

.bouton {
  color: white;
  background-color: #4eb1d5;
  box-shadow: 0px 2px 2px 1px rgb(56, 140, 170);
  border: none;
  font-family: "Roboto-Bold";
  padding: 10px;
}

#pointille {
  text-decoration: dashed underline;
}

#map {
  background-color: #4eb1d5;
}

footer iframe {
  opacity: 0.7;
}

footer input {
  border: 1px solid grey;
}



/* MEDIA QUERIES */

@media screen and (min-width:2760px){
  #services {
    margin-top: 250px;
  }
}

@media screen and (min-width:2400px){
  #services {
    padding-top: 200px;
  }
}

@media screen and (max-width: 1445px) {
  #accueil {
    height: 700px;
    width: 100%;
  }

  #bloc_texte_footer, fieldset {
    text-align: center;
  }

  .form_contact {
    left: 60%;
  }
}

@media screen and (max-width: 1350px) {
  #accueil {
    height: 600px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    margin: 0;
  }

  /* header */

  header {
    height: 120px;
  }

  .onglet_nav a {
    font-family: "Roboto-Regular";
    font-size: 23px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    text-align: center;
  }

  nav ul {
    float: none;
    text-align: center;
  }

  nav ul li {
    margin-left: 15px;
    margin-right: 15px;
  }

  #accueil img {
    position: absolute;
    left: 20%;
  }

  .onglet_nav a:hover {
    border: none;
    color: #4eb1d5;
  }

  #accueil {
    display: none;
  }

  .bloc_services2 {
    flex-wrap: wrap;
  }

  #img_pc {
    margin-left: 20%;
  }

  #description_service {
    padding-right: 40px;
  }

  .bloc_services1 {
    margin-left: 0;
    margin-right: 0;
  }

  #services {
    padding-top: 130px;
    margin-left: 100px;
    margin-right: 100px;
  }

  #titre_petite_resolution {
    display: contents;
    font-size: 50px;
  }

  .on_img {
    height: 90px;
  }

  .bloc_texte_hover {
    position: relative;
    height: 100px;
    height: 90px;
    z-index: 4;
  }

  .form_contact {
    left: 45%;
  }

  #bg_petite-reso {
    display: contents;
  }
}

@media screen and (max-width: 800px) {
  .form_contact {
    position: relative;
    left: 0;
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
  }
}

@media screen and (max-width: 698px) {
  /* Général */
  .container {
    margin: 0;
  }

  /* header */

  header {
    padding-top: 15px;
  }

  .onglet_nav a {
    font-size: 18px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    padding-top: 6px;
  }

  nav ul li {
    margin: 0;
  }

  #titre_petite_resolution {
    display: contents;
    font-size: 40px;
  }

  .form_contact {
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
  }

  #description_service {
    padding-right: 0;
  }

  #description_service ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 570px) {
  #services {
    margin-left: 50px;
    margin-right: 50px;
  }

  .form_contact {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 393px) {
  #portfolio {
    overflow: hidden;
  }

  #filtre_portfolio li {
    text-align: center;
  }

  .fa-sort-down {
    margin-top: 35px;
  }

  #fleche_media {
    margin-top: 16px;
  }
}
