/* fontface */

/* h2 */
@font-face {
  font-family: 'Roboto-Black';
  src: url('./fonts/Roboto-Black.ttf');
}

/* police titre 2*/
@font-face{
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf');
}

/* police texte */
@font-face{
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.ttf');
}

/* police h3 */
@font-face{
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.ttf');  
}

/* police texte li*/
@font-face{
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf');
}

/* police onglet header */
@font-face{
  font-family: 'Roboto-Thin';
  src: url('./fonts/Roboto-Thin.ttf');
}

/* keyframes */
@keyframes slider {
  0% {transform: translateX(0%)}
  25% {transform: translateX(0%)}
  50% {transform: translateX(100%)}
  75% {transform: translateX(100%)}    
  100% {transform: translateX(0%)}
}


/* GENERAL */

body {
  width: 100%;
  margin: 0;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
}

hr{
  background-color: rgba(128, 128, 128, 0.466);
  width: 10%;
  height: 1px;
  border: none;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 12px;

}

h1 {
  font-family: 'Roboto-Bold';
  font-size: 35px;
  margin-bottom: 10px;
}

p {
  font-family: 'Roboto-Light';
}

h2 {
  font-family: 'Roboto-Black';
  font-size: 28px;
  margin-bottom: 15px;
}

.cercle {
  border: 5px solid white;
  border-radius: 100%;
}

/* HEADER */
header{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 99;
}

nav {
  margin-top: 25px;
}
nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

.onglet_nav a {
  text-decoration: none;
  font-family: 'Roboto-Thin';
  color: black;
  padding-top: 38px;
  padding-left: 10px;
  padding-right: 10px;

}

.onglet_nav a:hover {
  border-top: 3px solid #4EB1D5;
}


/* SECTION 1*/

#accueil {
  width: 100%;
  height: 800px;
  background-color: rgba(128, 128, 128, 0.466);
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  bottom: 0;
  z-index: -1
}

#i1:checked ~#one,
#i2:checked ~#two{
  z-index: 9;
}

.slide_img img {
  width: 100%;
}

.pre{
  color: white;
  position: absolute;
  top: 270px;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.next{
  color: white;
  position: absolute;
  top: 270px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

/* SECTION 2 SERVICES*/

#services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.forme_trait {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forme_trait i {
  color: #4EB1D5;
}

.bloc_services1 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.bloc_services2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.bloc_services2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.bloc_services2 ul li {
  display: flex;
  flex-wrap: column;
}

#img_pc {
  width: 60%;
  height: 100%;
  margin-top: 60px;
}

#description_service ul {
  margin-top: 45px;
}

.fa-chart-line {
  color: #4EB1D5;
  border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 100%;
  position: relative;
  padding: 20px;
}

.fa-cubes {
  color: #4EB1D5;
  border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 100%;
  position: relative;
  padding: 20px;
}

.fa-chart-pie {
  color: #4EB1D5;
  border: 1px solid rgba(128, 128, 128, 0.466);
  border-radius: 100%;
  position: relative;
  padding: 20px;
}

.bloc_icone {
  position: relative;
  margin: auto;
  margin-left: 0;
}

.bloc_texte_services {
  margin-left: 30px;
}

.puce_icone {
  color: #4EB1D5;
  position: absolute;
  right: -10%;
  top: 40%;
}


/* SECTION 3 PROJETS */

#portfolio {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

#filtre_portfolio {
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: 'Roboto-Regular';
  padding-left: 0;
}

#filtre_portfolio li {
  background-color: rgba(128, 128, 128, 0.192);
  padding: 15px;
  position: relative;
}

#filtre_portfolio li:hover{
  background-color: #4EB1D5;
  box-shadow: 0px 2px 2px 1px rgb(56, 140, 170);
  justify-content: center;
}

#filtre_portfolio li:hover a {
  color: white;
}

#filtre_portfolio li:hover i {
  color: rgb(56, 140, 170);
}

    /* flèche du bas bouton filtre portfolio */
.fa-sort-down {
  position: absolute;
  margin-top: 17px;
  left: 40px;
  color: #f5f5f5;
}

#filtre_portfolio li a{
  color: #000;
  text-decoration: none;
}

  /* bloc images en portfolio */

  #bloc_images_portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .images_portfolio img{
    display: block;
    width: 350px;
    height: 250px;
    margin: 20px;
    padding: 0;
    cursor: default;
  }
  
  .images_portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .images_portfolio:hover .on_img{
    height: 90px;
  }
  
  .images_portfolio:hover .bloc_texte_hover{
    height: 90px;
    z-index: 4;
  }

  /* bloc texte en div hover sur les images en portfolio */

.bloc_texte_hover {
  position: relative;
  height: 0;
  z-index: -1;
  width: 100%;
  margin: 30px;
  margin-bottom: 50px;
}

.bloc_texte_hover h2 {
  font-size: 22px;
  font-family: 'Roboto-Bold';
}

.bloc_texte_hover p {
  font-size: 16px;
  font-family: 'Roboto-Regular';
}

.bloc_texte_hover a {
  position: absolute;
  top: -21px;
  margin-left: 80%;
}

.bloc_texte_hover:hover {
  position: relative;
  height: 100px;
}

.on_img {
  width: 350px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  transition: 0.7s ease;
  overflow: visible;
  margin-bottom: 20px;
}

.fa-eye {
  color: white;
  background-color: rgb(56, 140, 170);
  border-radius: 100%;
  border: solid 2px white;
  padding: 15px;
}


/* SECTION 4 FOOTER */

#contact iframe {
  width: 100%;
  position: relative;
}

fieldset {
  border: none;
}

h3 {
  font-family: 'Roboto-Medium';
}

.texte_form {
  margin-top: 2px; 
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.603)
}

.input_form {
  width: 95%;
  padding-left: 8px;
  font-family: 'Roboto-Light';
  padding: 5px;
}

textarea{
  font-family: 'Roboto-Light';
  padding: 5px;
}

.form_contact{
  position: absolute;
  width: 400px;
  margin-top: 60px;
  left: 70%;
  background-color: rgba(255, 255, 255, 0.739);
  z-index: 10;
  padding: 10px;
}


.bouton {
  color: white;
  border: none;
  font-family: 'Roboto-Bold';
}

#pointille {
  text-decoration: dashed underline;
}   